/* -------------------------------------------------------------------------------
 * header
 * -------------------------------------------------------------------------------*/

.site-header {
    @include rem(margin-bottom, $scale-3);
    @include rem(padding-top, $scale-n3);

    @include rem(border-bottom-width, $scale-n5);
    border-bottom-color: $colour-primary;
    border-bottom-style: solid;

    @include breakpoint($s) {
        @include rem(margin-bottom, $scale-5);
    }

    @include breakpoint($m) {
        @include rem(height, $scale-6 + $scale-4);
        @include rem(padding-top, $scale-5 - $scale-n3);
    }

    @include breakpoint($l) {
        @include rem(height, $scale-6 + $scale-5);
        @include rem(padding-top, $scale-6 - $scale-3);
    }
}

.logo {
    @include clearfix;

    @include breakpoint($m) {
        @include rem(margin-top, -2.08);
        @include rem(padding, $scale-n2, $scale-n3);
    }

    @include breakpoint($l) {
        @include rem(padding, $scale-n2, $scale-0);
    }

    a {
        &:hover, &:focus {
            color: lighten($colour-primary, 10%);
        }

        &:active {
            color: darken($colour-primary, 10%);
        }
    }

    img {
        @include rem(height, $scale-4);

        display: inline-block;
        width: auto;

        @include breakpoint($m) {
            @include rem(height, $scale-5);
        }
    }

    span {
        @include rem(max-width, $scale-7);
        @include rem(padding-left, $scale-n1);
        @include rem(font-size, $scale-0);

        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $stack-sans;
        line-height: 1.2;

        @include breakpoint($m) {
            @include rem(font-size, $scale-2);

            max-width: 100%;
        }

        @include breakpoint($xl) {
            @include rem(font-size, $scale-3);
        }
    }
}