/* -------------------------------------------------------------------------------
 * colours
 * -------------------------------------------------------------------------------*/

$colour-main: #444444;
$colour-discreet: #888888;
$colour-contrast: #dedede;
$colour-access: #888;

$colour-background: #ffffff;

$colour-primary: #888;
$colour-complementary: #dedede;

$colour-spot: #e6554b