/* -------------------------------------------------------------------------------
 * media queries
 * -------------------------------------------------------------------------------*/

$site-margin-wide: 10%;
$site-margin-thin: 5%;

$xs: 30em;
$s: 37em;
$m: 46em;
$l: 60em;
$xl: 80em;
$xxl: 95em;