/* -------------------------------------------------------------------------------
 * media queries
 * -------------------------------------------------------------------------------*/

$site-margin-wide: 10%;
$site-margin-thin: 5%;

$xs: 30em;
$s: 40em;
$m: 50em;
$l: 64em;
$xl: 80em;
$xxl: 98em;