/* -------------------------------------------------------------------------------
 * modular scale
 * -------------------------------------------------------------------------------*/

$ms-base: 1 1.0625;
$ms-ratio: $golden;

$scale-n13: 0.0625; // 1px
$scale-n5: 0.236em;
$scale-n4: 0.382;
$scale-n3: 0.618;
$scale-n2: 0.75;
$scale-n1: 0.875;
$scale-0: 1;
$scale-1: 1.125;
$scale-2: 1.3125;
$scale-3: 1.618;
$scale-4: 2.618;
$scale-5: 4.236;
$scale-6: 6.854;
$scale-7: 10;
$scale-8: 12;
$scale-9: 15;
